/**
 * Plugin styles
 */
.ce-subPoint {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 1.25em;
  outline: none;
}

.ce-subPoint p,
.ce-subPoint div {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-subPoint__icon {
}

.ce-subPoint[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-subPoint[contentEditable="true"][data-placeholder]:empty::before {
  display: block;
}

.ce-subPoint[contentEditable="true"][data-placeholder]:empty:focus::before {
  display: none;
}

/* .ce-popover-item[data-item-name="lessons"] {
  display: none;
} */
